# Cuaderno de ejercicios
## EJERCICIOS DE CONJUNTOS
### Ejercicio 1:
Escribe un programa en Python que cree un conjunto vacío, y a continuación inserte todos los números enteros divisibles por 3 y menores que 100.

In [42]:
conjunto = set()

for i in range(0,100,3):
  conjunto.add(i)

print(conjunto)

{0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}

### Ejercicio 2:
Escribe un programa en Python que calcule la unión del conjunto de los números
naturales menores que 100 que son divisibles por 7 con el conjunto de los números naturales menores que 200 que son divisibles por 13.

In [45]:
conjunto1 = set()
conjunto2 = set()

for i in range(0,100,7):
  conjunto1.add(i)

for i in range(0,200,13):
  conjunto2.add(i)

print(conjunto1 | conjunto2)

{0, 65, 130, 195, 70, 7, 77, 14, 13, 78, 143, 84, 21, 26, 91, 28, 156, 98, 35, 39, 104, 169, 42, 49, 52, 117, 182, 56, 63}

### Ejercicio 3:
Escribe un programa que elimine los elementos duplicados de una lista usando un
conjunto.

In [10]:
myList = [1, 2, 3, 2, 4, 5, 3, 6, 7, 5]
conjunto_myList = set(myList)
print(conjunto_myList)

{1, 2, 3, 4, 5, 6, 7}

### Ejercicio 4:
Escribe un programa en Python para contar el número de caracteres diferentes que
ocurren en una cadena introducida por teclado.

In [21]:
text = input("Escriba un texto: ")
conjunto_text = set(text)

print(len(conjunto_text))

Escriba un texto: hola caracola
7

### Ejercicio 5:
Escribe un programa en Python que, dadas dos cadenas, imprima por pantalla los
caracteres diferentes que aparecen en la primera cadena pero no en la segunda.

In [26]:
text1 = "El que a buen árbol se arrima"
text2 = "buena sombra le cobija"

conjunto_text1 = set(text1)
conjunto_text2 = set(text2)

print(conjunto_text1 - conjunto_text2)

{'q', 'E', 'á'}

### Ejercicio 6:
Escribe un programa en Python que, dadas tres listas de números enteros, imprima por pantalla aquellos números que aparezcan al menos una vez en cada una de las tres listas.

In [36]:
lista1 = [4, 6, 2, 8, 11, 9, 3, 5, 8]
lista2 = [14, 9, 7, 0, 11, 16, 3, 15, 13]
lista3 = [9, 88, 2, 1, 0, 9, 3, 25, 7]

conjunto_lista1 = set(lista1)
conjunto_lista2 = set(lista2)
conjunto_lista3 = set(lista3)

print(conjunto_lista1 & conjunto_lista2 & conjunto_lista3)

{9, 3}
{9, 3}