# Cuaderno de ejercicios
## EJERCICIOS DE OBJETOS Y CLASES

**Considera la siguiente definición de clase**:

In [31]:
class Empleado:
  def __init__(self, nombre, apellido1, apellido2, dni, cargo, departamento, sueldo):
    self.nombre = nombre
    self.apellido1 = apellido1
    self.apellido2 = apellido2
    self.dni = dni
    self.cargo = cargo
    self.departamento = departamento
    self.sueldo = sueldo

  def __str__(self):
    return f' Empleado {self.nombre} {self.apellido1} {self.apellido2} con DNI {self.dni}'

### Ejercicio 1:
Crea dos objetos de clase Empleado e imprímelos por pantalla.

In [32]:
empleado1 = Empleado('Jose Manuel', 'Pinillos', 'Rubio', '16602395Y', 'Informático', 'IT', 3800)
empleado2 = Empleado('Laura', 'Gomez', 'Lopez', '74859632D', 'Analista', 'Big Data', 4200)

print(empleado1)
print(empleado2)

 Empleado Jose Manuel Pinillos Rubio con DNI 16602395Y
 Empleado Laura Gomez Lopez con DNI 74859632D

### Ejercicio 2:
Añade un método a la clase que devuelva el nombre completo del empleado en el
formato: Apellido1 Apellido2, Nombre

In [72]:
class Empleado:
  def __init__(self, nombre, apellido1, apellido2, dni, cargo, departamento, sueldo):
    self.nombre = nombre
    self.apellido1 = apellido1
    self.apellido2 = apellido2
    self.dni = dni
    self.cargo = cargo
    self.departamento = departamento
    self.sueldo = sueldo

  def __str__(self):
    return f' Empleado {self.nombre} {self.apellido1} {self.apellido2} con DNI {self.dni}'

  @property
  def nombreCompleto(self):
    return f' {self.apellido1} {self.apellido2}, {self.nombre}'

<bound method Empleado.nombreCompleto of <__main__.Empleado object at 0x78ed77bb6440>>

In [79]:
empleado1 = Empleado('Jose Manuel', 'Pinillos', 'Rubio', '16602395Y', 'Informático', 'IT', 3800)
empleado2 = Empleado('Laura', 'Gomez', 'Lopez', '74859632D', 'Analista', 'Big Data', 4200)

print(empleado1)
print(empleado2.nombreCompleto)

 Empleado Jose Manuel Pinillos Rubio con DNI 16602395Y
 Gomez Lopez, Laura

### Ejercicio 3:
Añade un método a la clase para trasladar a un empleado a otro departamento,
manteniendo igual el resto de sus datos.

In [42]:
class Empleado:
  def __init__(self, nombre, apellido1, apellido2, dni, cargo, departamento, sueldo):
    self.nombre = nombre
    self.apellido1 = apellido1
    self.apellido2 = apellido2
    self.dni = dni
    self.cargo = cargo
    self.departamento = departamento
    self.sueldo = sueldo

  def __str__(self):
    return f' Empleado {self.nombre} {self.apellido1} {self.apellido2} con DNI {self.dni}'

  @property
  def nombreCompleto(self):
    return f'{self.apellido1} {self.apellido2}, {self.nombre}'

  def trasladar(self, nuevo_departamento) -> None:
    self.departamento = nuevo_departamento

In [43]:
empleado1 = Empleado('Jose Manuel', 'Pinillos', 'Rubio', '16602395Y', 'Informático', 'IT', 3800)
empleado2 = Empleado('Laura', 'Gomez', 'Lopez', '74859632D', 'Analista', 'Big Data', 4200)

print(empleado1.departamento)
empleado1.trasladar("Contabilidad")
print(empleado1.departamento)
print(empleado1.nombreCompleto)

3800
Contabilidad
Pinillos Rubio, Jose Manuel

### Ejercicio 4:
Dada una lista de empleados, ordénala según sus nombres completos e imprímela por pantalla.

In [27]:
class Empleado:
  def __init__(self, nombre, apellido1, apellido2, dni, cargo, departamento, sueldo):
    self.nombre = nombre
    self.apellido1 = apellido1
    self.apellido2 = apellido2
    self.dni = dni
    self.cargo = cargo
    self.departamento = departamento
    self.sueldo = sueldo

  def __str__(self):
    return f' Empleado {self.nombre} {self.apellido1} {self.apellido2} con DNI {self.dni}'

  @property
  def nombreCompleto(self):
    return f'{self.apellido1} {self.apellido2}, {self.nombre}'

  def trasladar(self, nuevo_departamento) -> None:
    self.departamento = nuevo_departamento

  def obtener_nombre_completo(empleado):
    return empleado.nombreCompleto

In [28]:
empleado1 = Empleado('Jose Manuel', 'Pinillos', 'Rubio', '16602395Y', 'Informático', 'IT', 3800)
empleado2 = Empleado('Laura', 'Gomez', 'Lopez', '74859632D', 'Analista', 'Big Data', 5800)
empleado3 = Empleado('Victor', 'Hugo', 'Sanz', '16521520E', 'Contabilidad', 'BI', 3200)
empleado4 = Empleado('Ruben', 'Serna', 'Parrado', '19876543X', 'Gerencia', 'CISO', 6900)

listaEmpleados = [empleado1, empleado2, empleado3, empleado4]
listaEmpleados.sort(key=obtener_nombre_completo)

for empleado in listaEmpleados:
  print(empleado.nombreCompleto)

Gomez Lopez, Laura
Hugo Sanz, Victor
Pinillos Rubio, Jose Manuel
Serna Parrado, Ruben

### Ejercicio 5:
Dada una lista de empleados, calcula la lista de los que cobran más de 40000 e
imprímela por pantalla.

In [57]:
empleado1 = Empleado('Jose Manuel', 'Pinillos', 'Rubio', '16602395Y', 'Informático', 'IT', 38000)
empleado2 = Empleado('Laura', 'Gomez', 'Lopez', '74859632D', 'Analista', 'Big Data', 58000)
empleado3 = Empleado('Victor', 'Hugo', 'Sanz', '16521520E', 'Contabilidad', 'BI', 32000)
empleado4 = Empleado('Ruben', 'Serna', 'Parrado', '19876543X', 'Gerencia', 'CISO', 69000)

listaEmpleados = [empleado1, empleado2, empleado3, empleado4]
sublistaEmpleados = []

for empleado in listaEmpleados:
  if empleado.sueldo > 40000:
    sublistaEmpleados.append(empleado)

for empleado in sublistaEmpleados:
  print(empleado.nombreCompleto)

Gomez Lopez, Laura
Serna Parrado, Ruben

### Ejercicio 6:
Dada una lista de empleados, aplícales una subida de sueldo del 20% y calcula la suma de todos los sueldos resultantes.

In [75]:
class Empleado:
  def __init__(self, nombre, apellido1, apellido2, dni, cargo, departamento, sueldo):
    self.nombre = nombre
    self.apellido1 = apellido1
    self.apellido2 = apellido2
    self.dni = dni
    self.cargo = cargo
    self.departamento = departamento
    self.sueldo = sueldo

  def __str__(self):
    return f' Empleado {self.nombre} {self.apellido1} {self.apellido2} con DNI {self.dni}'

  @property
  def nombreCompleto(self):
    return f'{self.apellido1} {self.apellido2}, {self.nombre}'

  def trasladar(self, nuevo_departamento) -> None:
    self.departamento = nuevo_departamento

  def obtener_nombre_completo(empleado):
    return empleado.nombreCompleto

  def subirSueldo(self, aumento) -> None:
    self.sueldo += (self.sueldo * aumento / 100)

In [82]:
empleado1 = Empleado('Jose Manuel', 'Pinillos', 'Rubio', '16602395Y', 'Informático', 'IT', 38000)
empleado2 = Empleado('Laura', 'Gomez', 'Lopez', '74859632D', 'Analista', 'Big Data', 58000)
empleado3 = Empleado('Victor', 'Hugo', 'Sanz', '16521520E', 'Contabilidad', 'BI', 32000)
empleado4 = Empleado('Ruben', 'Serna', 'Parrado', '19876543X', 'Gerencia', 'CISO', 69000)

listaEmpleados = [empleado1, empleado2, empleado3, empleado4]
aumento = int(input("Especifique el porcentaje de subida de sueldo para sus empleados: "))
suma = 0

for empleado in listaEmpleados:
    empleado.subirSueldo(aumento)

for empleado in listaEmpleados:
  suma += empleado.sueldo

print(suma)

Especifique el porcentaje de subida de sueldo para sus empleados: 20
236400.0