Cree una serie de pandas con valores enteros en el intervalo [1, 26] y etiquetas "�ABCDEFGHIJKLMNOPQRSTUVWXY"�. Busque una manera programática (no manual) de hacerl 
(recuerde el módulo string).

In [13]:
import pandas as pd
import string

etiquetas = list(string.ascii_uppercase)

pd.Series(range(1,27), index=etiquetas)

A     1
B     2
C     3
D     4
E     5
F     6
G     7
H     8
I     9
J    10
K    11
L    12
M    13
N    14
O    15
P    16
Q    17
R    18
S    19
T    20
U    21
V    22
W    23
X    24
Y    25
Z    26
dtype: int64

In [20]:
import pandas as pd

data = {'Apple': 147000,
'Samsung': 267937,
'Google': 135301,
'Microsoft': 163000,
'Huawei': 197000,
'Dell': 158000,
'Facebook': 58604,
'Foxconn': 878429,
'Sony': 109700}

employees = pd.Series(data, name='Tech Employees')

In [21]:
employees

Apple        147000
Samsung      267937
Google       135301
Microsoft    163000
Huawei       197000
Dell         158000
Facebook      58604
Foxconn      878429
Sony         109700
Name: Tech Employees, dtype: int64

In [32]:
employees["Apple":"Huawei":2]

Apple     147000
Google    135301
Huawei    197000
Name: Tech Employees, dtype: int64